// ======================================
//  Base Styles
// ======================================
html {
    background-color: $color-primary;
    background-image: url('../../../images/Star-field-hubble-deep.jfif');
    background-repeat: repeat;
}