// ======================================
//  Base Styles
// ======================================
html {
    background-color: $color-primary;
    background-repeat: repeat;
}
body{
    background-color: $color-primary;
  
    background-repeat: repeat;
}

.flip{
    transform: rotate(360deg);
    transition: 1s ease-in-out transform;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
     #socals-jumbo{
        border-bottom: none;
    }
  }

  #socials{

    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    @media (min-width: 768px) { 
        margin-left: 25%;
        width: 50%;
     }
     @media (min-width: 1440px) { 
        margin-left: 30%;
     }
   
}
.social, .copyright{
    color: white;
}
.copyright{
    padding-top: 10px;
    text-align: center;
}
.social-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    img{
        box-shadow: none;
        width: 30%;
        margin-left: 35%;
        background-color: rgba(255, 255, 255, 0.539);
        border-radius: 2px 2px 0 0 ;
    }
}
.social{
    
    background-color: rgba(255, 255, 255, 0.539);
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 2px;
}