// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #000000; // blue-reensish
$color-primary-light: lighten($color-primary, 20%);
$color-default: #838383; 
$color-darkblue: #0400ffc4;
$color-success: #3bb437;
$color-error: rgb(202, 42, 42);
$color-warning: #afbb41;
$color-info: #8325c2;
$white: white;
$orange: #fd7856;
$col-7: #ec9fa3;
$col-8: #fd9f85;

