// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #000000; // blue-reensish
$color-primary-light: lighten($color-primary, 40%);
$color-default: #f5f5f5; 