// ======================================
// Jombotron styles
// ======================================

.jumbotron {
    color: white;
    border-bottom: 1px white solid;
    background-color: black;
   
    background-size: cover;
    margin-bottom: 0;
}
img{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(167, 66, 66);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    @media (min-width: 768px) { 
       width: 40%;
       height: 40%;
    }
}
.lead{
    background-color: rgba(226, 226, 226, 0.145);
    padding: 5px;
}

#projects{
    border: none;
    padding-bottom: 10px;
}