// ======================================
//  Project styles
// ======================================

.card{
    margin-top: 15px;
    width: 70%;
    margin-left: 20%;
    background-color: $color-primary-light;
    img{
        box-shadow: none;
        width: 100%;
    }
    @media (min-width: 768px) { 
        width: 90%;
        margin-left: 10%;
        max-width: 70%;
    }
}
#projectsDiv{
 
  border-left: 5px solid $color-default;
  border-bottom: 5px solid $color-default;
  width: 80%;
  margin-left: 10%;
  @media (min-width: 768px) { 
    width: 90%;
    margin-left: 10%;
 }
}
.left-adding{
    margin-left: 30%;
    display: block;
    margin-top: 10px;
}