// ======================================
//  grid Styles
// ======================================
  svg{
    margin-left: -53px;

  }

  .svgs{
      display: flex;
      margin-bottom: 40px;
      
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }